@model Lab4.Models.ViewModels.CommunityViewModel
@{
    ViewData["Title"] = "Index";
    
}

<h1>Index Page</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
        <tr>
            <th>Budget</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Communities)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Budget)</td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.CommunityMemberships != null)
{
    <h2>Members of the Community</h2>
    <table class="table">
        <tr>
            @if (Model.CommunityMemberships.Count() > 0)
            {
                <th>Name</th>
            }
            else
            {
                <th>There is no Membership yet!</th>
            }
        </tr>
        @foreach(var item in Model.CommunityMemberships)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
            </tr>
        }
    </table>
}